# Dependencies
node_modules/

# Build output
out/
dist/
release/
build/native/
*.tsbuildinfo

# Temporary files
tmp/

# Electron binary
node_modules/electron/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Config(local overrides)
.env
.env.local
